body {
    background-color: #12c38b;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #058874;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    height: 50px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    height: 450px;
}
